{% extends "base.html" %}
{% load static %}
<style>
#tweet-container {

}
</style>

{% block script %}
<script>
$(document).ready(function(){
  loadTweetContainer("tweet-container")
});
</script>
{% endblock script %}



{% block content %}

   
    <div class='row'>
        <div class='col-sm-12'>
               {% if request.GET.q %}
                <div class="container">

          <h2> <i class="fa fa-search"></i>&nbsp;Results for {{ request.GET.q }}</h2>
        </div>
                <hr/>
               {% endif %}
        </div>
        <div class='col-sm-9 '>
        <div class="card" data-background-color="blue">
                  <center>
                  <h3 class="category-social">
                    <i class="fa fa-bullhorn"></i>&nbsp;&nbsp;TWEETS
                  </h3>  
                </center>
              </div>
          <hr/>

          <div id='tweet-container' data-url='/api/search/'>
            
          </div>
          <a href='#'  class='btn btn-info' id='loadmore'>
          <img src="{% static 'assets/img/load.png' %}">&nbsp;Load More Tweets</a>


        </div>
        <div class='col-sm-3'>
        <div class="card" data-background-color="green">
                  <h3 class="category-social">
                    <center><i class="fa fa-user"></i>&nbsp;&nbsp;USERS</center>
                  </h3>  
                
              </div>
           <hr/>
           <div class="card text-capitalize" style="background-color: PINK;">
          {% for user in users %}
          <br/>
            <a href='/{{ user.username}}/'><h6>{{ user.username}}</a></h6>

          {% empty %}
          <p>No users found</p>
          {% endfor %}
          </div>
        </div>
    </div>

{% endblock content %}